<?xml version="1.0" encoding="UTF-8" ?>
    <widget xmlns   = "http://www.w3.org/ns/widgets"
        xmlns:gap   = "http://phonegap.com/ns/1.0"
        id          = "com.phonegap4.example3"
        versionCode = "10" 
        version     = "2.0.2" >

    <preference name="phonegap-version" value="3.4.0" />
    <!-- versionCode is optional and Android only -->



<!--From j05-plugin-genenal-pgb-helloworld -->

    <gap:plugin name="org.apache.cordova.core.media" /> 
    <gap:plugin name="org.apache.cordova.camera" />
    <gap:plugin name="com.rjfun.cordova.plugin.lowlatencyaudio"  /> 
    


<!--From j20-file-pgb-helloworld -->

    <gap:plugin name="org.apache.cordova.file" /> 
    <gap:plugin name="org.apache.cordova.file-transfer" /> 





<!--From j21-camera-pgb-helloworld -->

    <gap:plugin name="org.apache.cordova.camera" />







<!--From j22-accelerometer-and-device-pgb-helloworld -->

    <gap:plugin name="org.apache.cordova.vibration" />  
    <gap:plugin name="org.apache.cordova.dialogs" />  
    <gap:plugin name="org.apache.cordova.network-information" />  
    <gap:plugin name="org.apache.cordova.media" />  
    <gap:plugin name="org.apache.cordova.geolocation" />  
    <gap:plugin name="org.apache.cordova.file" />  -->   
    <gap:plugin name="org.apache.cordova.device" />
    <gap:plugin name="org.apache.cordova.device-motion" />







<!--From j23-splashScreen-pgb-helloworld -->

        
    <gap:splash src="splash.png" gap:platform="android" gap:density="ldpi" /> <!-- 200x320 -->
    <gap:splash src="splash.png" gap:platform="android" gap:density="mdpi" /> <!-- 320x480 -->
    <gap:splash src="splash.png" gap:platform="android" gap:density="hdpi" /> <!-- 480x800 -->
    <gap:splash src="splash.png" gap:platform="android" gap:density="xhdpi" /> <!-- 720x1280 -->




    

     <gap:plugin name="org.apache.cordova.splashscreen" />




<!--From j24-geolocation-pgb-helloworld -->

    <gap:plugin name="org.apache.cordova.geolocation" />  

    



<!--From j31-inappbrowser-pgb-helloworld -->

        <gap:plugin name="org.apache.cordova.inappbrowser" />























    <access origin="*" />
    <access origin="http://127.0.0.1*"/>
    
    

</widget>
